<a href="https://colab.research.google.com/github/GADH2022/deep-learning-challenge/blob/main/optimization2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../content/sample_data/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
n = application_df.nunique(axis=0)
n

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN', 'NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column
for i in application_df.columns:
    print(i, len(application_df[i].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = list(classification_counts[classification_counts<1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Compile, Train and Evaluate the Model

In [13]:
# Get the input feature/ shape
X_train_scaled.shape

(25724, 43)

In [14]:
input_features = X_train_scaled.shape[1]

Automated Neural Network Optimization

In [15]:
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.2.1-py3-none-any.whl (169 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.6/169.6 KB 4.3 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from keras-tuner) (2.25.1)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.8/dist-packages (from keras-tuner) (7.9.0)
Requirement already satisfied: tensorflow>=2.0 in /usr/local/lib/python3.8/dist-packages (from keras-tuner) (2.11.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from keras-tuner) (23.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (4.5.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (1.51.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (1.15.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (2.11.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (0.4.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (15.0.6.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (3.19.6)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (3.1.0)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (23.1.21)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (0.30.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (1.6.3)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (2.11.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (57.4.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (2.11.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (1.14.1)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (2.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (3.3.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (1.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (0.2.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.0->keras-tuner) (1.21.6)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (5.7.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython->keras-tuner) (2.0.10)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 31.1 MB/s eta 0:00:00
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->keras-tuner) (4.0.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow>=2.0->keras-tuner) (0.38.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (0.2.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (1.8.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.4.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (2.16.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (3.4.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (6.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (3.13.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (3.2.2)
Installing collected packages: kt-legacy, jedi, keras-tuner
Successfully installed jedi-0.18.2 keras-tuner-1.2.1 kt-legacy-1.0.4

In [16]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value= 90,
        step=5), activation=activation, input_dim=input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [17]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=100,
    hyperband_iterations=2)

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=100,validation_data=(X_test_scaled,y_test))

Trial 147 Complete [00h 03m 15s]
val_accuracy: 0.7309620976448059

Best val_accuracy So Far: 0.73399418592453
Total elapsed time: 00h 37m 04s

Search: Running Trial #148

Value             |Best Value So Far |Hyperparameter
relu              |tanh              |activation
26                |81                |first_units
4                 |2                 |num_layers
16                |6                 |units_0
21                |11                |units_1
21                |1                 |units_2
6                 |16                |units_3
21                |11                |units_4
100               |34                |tuner/epochs
34                |12                |tuner/initial_epoch
4                 |4                 |tuner/bracket
4                 |3                 |tuner/round
0144              |0134              |tuner/trial_id

Epoch 35/100
804/804 [==============================] - 5s 4ms/step - loss: 0.5439 - accuracy: 0.7348 - val_loss: 0.5543 - val_accuracy: 0.7292
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5436 - accuracy: 0.7336 - val_loss: 0.5570 - val_accuracy: 0.7270
Epoch 37/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5437 - accuracy: 0.7336 - val_loss: 0.5549 - val_accuracy: 0.7244
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5434 - accuracy: 0.7348 - val_loss: 0.5539 - val_accuracy: 0.7319
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5427 - accuracy: 0.7348 - val_loss: 0.5556 - val_accuracy: 0.7275
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5428 - accuracy: 0.7355 - val_loss: 0.5560 - val_accuracy: 0.7278
Epoch 41/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5428 - accuracy: 0.7346 - val_loss: 0.5540 - val_accuracy: 0.7266
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5425 - accuracy: 0.7350 - val_loss: 0.5543 - val_accuracy: 0.7306
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5425 - accuracy: 0.7341 - val_loss: 0.5551 - val_accuracy: 0.7280
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5424 - accuracy: 0.7345 - val_loss: 0.5563 - val_accuracy: 0.7285
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5417 - accuracy: 0.7362 - val_loss: 0.5539 - val_accuracy: 0.7294
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5423 - accuracy: 0.7353 - val_loss: 0.5557 - val_accuracy: 0.7259
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5419 - accuracy: 0.7353 - val_loss: 0.5543 - val_accuracy: 0.7249
Epoch 48/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5412 - accuracy: 0.7358 - val_loss: 0.5555 - val_accuracy: 0.7285
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7362 - val_loss: 0.5553 - val_accuracy: 0.7280
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5417 - accuracy: 0.7351 - val_loss: 0.5562 - val_accuracy: 0.7301
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5408 - accuracy: 0.7352 - val_loss: 0.5555 - val_accuracy: 0.7289
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5408 - accuracy: 0.7369 - val_loss: 0.5563 - val_accuracy: 0.7292
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5410 - accuracy: 0.7357 - val_loss: 0.5567 - val_accuracy: 0.7282
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5408 - accuracy: 0.7361 - val_loss: 0.5556 - val_accuracy: 0.7247
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5412 - accuracy: 0.7359 - val_loss: 0.5546 - val_accuracy: 0.7282
Epoch 56/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5405 - accuracy: 0.7371 - val_loss: 0.5571 - val_accuracy: 0.7292
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5402 - accuracy: 0.7374 - val_loss: 0.5545 - val_accuracy: 0.7296
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5399 - accuracy: 0.7372 - val_loss: 0.5557 - val_accuracy: 0.7300
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7364 - val_loss: 0.5579 - val_accuracy: 0.7300
Epoch 60/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5399 - accuracy: 0.7376 - val_loss: 0.5584 - val_accuracy: 0.7244
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5399 - accuracy: 0.7374 - val_loss: 0.5544 - val_accuracy: 0.7287
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5401 - accuracy: 0.7369 - val_loss: 0.5558 - val_accuracy: 0.7280
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5400 - accuracy: 0.7370 - val_loss: 0.5554 - val_accuracy: 0.7294
Epoch 64/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5397 - accuracy: 0.7372 - val_loss: 0.5573 - val_accuracy: 0.7263
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5396 - accuracy: 0.7366 - val_loss: 0.5562 - val_accuracy: 0.7296
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7373 - val_loss: 0.5547 - val_accuracy: 0.7291
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5393 - accuracy: 0.7374 - val_loss: 0.5595 - val_accuracy: 0.7272
Epoch 68/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5392 - accuracy: 0.7374 - val_loss: 0.5562 - val_accuracy: 0.7270
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5394 - accuracy: 0.7373 - val_loss: 0.5552 - val_accuracy: 0.7299
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7374 - val_loss: 0.5555 - val_accuracy: 0.7290
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5390 - accuracy: 0.7371 - val_loss: 0.5572 - val_accuracy: 0.7293
Epoch 72/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5388 - accuracy: 0.7377 - val_loss: 0.5557 - val_accuracy: 0.7289
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7374 - val_loss: 0.5578 - val_accuracy: 0.7297
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5386 - accuracy: 0.7377 - val_loss: 0.5586 - val_accuracy: 0.7286
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5388 - accuracy: 0.7383 - val_loss: 0.5573 - val_accuracy: 0.7285
Epoch 76/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5383 - accuracy: 0.7384 - val_loss: 0.5560 - val_accuracy: 0.7264
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5388 - accuracy: 0.7383 - val_loss: 0.5606 - val_accuracy: 0.7283
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5390 - accuracy: 0.7381 - val_loss: 0.5587 - val_accuracy: 0.7292
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7385 - val_loss: 0.5580 - val_accuracy: 0.7285
Epoch 80/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5382 - accuracy: 0.7372 - val_loss: 0.5608 - val_accuracy: 0.7273
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7383 - val_loss: 0.5577 - val_accuracy: 0.7298
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5376 - accuracy: 0.7385 - val_loss: 0.5594 - val_accuracy: 0.7293
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7378 - val_loss: 0.5579 - val_accuracy: 0.7293
Epoch 84/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5376 - accuracy: 0.7381 - val_loss: 0.5589 - val_accuracy: 0.7300
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5384 - accuracy: 0.7378 - val_loss: 0.5588 - val_accuracy: 0.7277
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7376 - val_loss: 0.5587 - val_accuracy: 0.7291
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7380 - val_loss: 0.5595 - val_accuracy: 0.7259
Epoch 88/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5377 - accuracy: 0.7383 - val_loss: 0.5583 - val_accuracy: 0.7286
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7385 - val_loss: 0.5581 - val_accuracy: 0.7251
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5377 - accuracy: 0.7379 - val_loss: 0.5627 - val_accuracy: 0.7273
Epoch 91/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5381 - accuracy: 0.7385 - val_loss: 0.5576 - val_accuracy: 0.7265
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7381 - val_loss: 0.5609 - val_accuracy: 0.7254
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7381 - val_loss: 0.5587 - val_accuracy: 0.7282
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7381 - val_loss: 0.5606 - val_accuracy: 0.7229
Epoch 95/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5373 - accuracy: 0.7375 - val_loss: 0.5604 - val_accuracy: 0.7278
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5373 - accuracy: 0.7375 - val_loss: 0.5595 - val_accuracy: 0.7273
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7385 - val_loss: 0.5611 - val_accuracy: 0.7273
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7384 - val_loss: 0.5606 - val_accuracy: 0.7257
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5374 - accuracy: 0.7364 - val_loss: 0.5604 - val_accuracy: 0.7261
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5367 - accuracy: 0.7382 - val_loss: 0.5596 - val_accuracy: 0.7264

In [ ]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters()[0]
best_hyper.values

In [ ]:
# Evaluate best model against full test data
best_model = tuner.get_best_models()[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
best_model.save('../h5_files/AlphabetSoupCharity_Optimization.h5')