<a href="https://colab.research.google.com/github/GADH2022/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
from pathlib import Path
Path.cwd()

PosixPath('/content')

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../content/sample_data/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df=application_df.drop(["EIN","NAME"],axis= 1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
n = application_df.nunique(axis=0)
n

APPLICATION_TYPE             9
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [13]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
app_counts=application_df["APPLICATION_TYPE"].value_counts()
app_counts

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [14]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(app_counts[app_counts<500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [16]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts= application_df['CLASSIFICATION'].value_counts()

In [17]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts().loc[lambda x:x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [18]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classification_counts[classification_counts<1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [19]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [20]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
# Get the input shape
X_train_scaled.shape

(25724, 43)

## Compile, Train and Evaluate the Model

In [30]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_features = X_train_scaled.shape[1]

# X shape/ input feature/columns is 43 * 2/3 is 86-129 so chose 80 for the first hidden node
#hidden_node1 = 80
#hidden_node2 = 30
# Add a third hidden layer
#hidden_node3 = 30


nn_model1 = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn_model1.add(tf.keras.layers.Dense(units=10, activation='relu', input_dim=input_features))


# Second hidden layer
#  YOUR CODE GOES HERE
# Second hidden layer
nn_model1.add(tf.keras.layers.Dense(units=10, activation='relu'))

# Third hidden layer
nn_model1.add(tf.keras.layers.Dense(units=10, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn_model1.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 10)                440

 dense_5 (Dense)             (None, 10)                110

 dense_6 (Dense)             (None, 10)                110

 dense_7 (Dense)             (None, 1)                 11

=================================================================
Total params: 671
Trainable params: 671
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [32]:
# Create a callback that saves the model's weights every five epochs
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define checkpoints variables
os.makedirs('checkpoints/', exist_ok=True)
checkpoint_path= 'checkpoints/weights.{epoch}.hdf5'

# Create callback 
cp_callback = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq='epoch',
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [33]:
# Train the model
#  YOUR CODE GOES HERE
fit_model_1 = nn_model1.fit(X_train_scaled, y_train, epochs=50,callbacks=[cp_callback])

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.6115 - accuracy: 0.6873
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5637 - accuracy: 0.7243
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5579 - accuracy: 0.7252
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7288
Epoch 5/50
799/804 [============================>.] - ETA: 0s - loss: 0.5522 - accuracy: 0.7305
Epoch 5: saving model to checkpoints/weights.5.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7306
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7310
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7313
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7322
Epoch 9/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5485 - accuracy: 0.7320
Epoch 10/50
803/804 [============================>.] - ETA: 0s - loss: 0.5477 - accuracy: 0.7316
Epoch 10: saving model to checkpoints/weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7317
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7332
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7327
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7328
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7332
Epoch 15/50
791/804 [============================>.] - ETA: 0s - loss: 0.5455 - accuracy: 0.7329
Epoch 15: saving model to checkpoints/weights.15.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7326
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7330
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7332
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7325
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7336
Epoch 20/50
795/804 [============================>.] - ETA: 0s - loss: 0.5452 - accuracy: 0.7334
Epoch 20: saving model to checkpoints/weights.20.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5451 - accuracy: 0.7334
Epoch 21/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5449 - accuracy: 0.7339
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7345
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7343
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7336
Epoch 25/50
791/804 [============================>.] - ETA: 0s - loss: 0.5447 - accuracy: 0.7341
Epoch 25: saving model to checkpoints/weights.25.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7349
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7348
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7348
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5439 - accuracy: 0.7344
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7342
Epoch 30/50
795/804 [============================>.] - ETA: 0s - loss: 0.5448 - accuracy: 0.7339
Epoch 30: saving model to checkpoints/weights.30.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7344
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7358
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7356
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7346
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7348
Epoch 35/50
789/804 [============================>.] - ETA: 0s - loss: 0.5434 - accuracy: 0.7344
Epoch 35: saving model to checkpoints/weights.35.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7347
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7350
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7338
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7362
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7350
Epoch 40/50
796/804 [============================>.] - ETA: 0s - loss: 0.5422 - accuracy: 0.7349
Epoch 40: saving model to checkpoints/weights.40.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7350
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5428 - accuracy: 0.7353
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7350
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7348
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7361
Epoch 45/50
803/804 [============================>.] - ETA: 0s - loss: 0.5424 - accuracy: 0.7354
Epoch 45: saving model to checkpoints/weights.45.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7355
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7341
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5424 - accuracy: 0.7342
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7345
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7354
Epoch 50/50
790/804 [============================>.] - ETA: 0s - loss: 0.5417 - accuracy: 0.7349
Epoch 50: saving model to checkpoints/weights.50.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7348

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5591 - accuracy: 0.7235 - 818ms/epoch - 3ms/step
Loss: 0.5591205954551697, Accuracy: 0.723498523235321

In [35]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn_model1.save('../h5_files/AlphabetSoupCharity_model_1.h5')

Looking for second model:

In [36]:
# Define the 2nd model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
# X shape/ input feature/columns is 43 * 2 is 86 so chose 80 for the first hidden node
#hidden_node1 = 90
#hidden_node2 = 30
# Add a third hidden layer
#hidden_node3 = 20

nn_model_2 = tf.keras.models.Sequential()

# First hidden layer
nn_model_2.add(tf.keras.layers.Dense(units=20, activation='tanh', input_dim=input_features,))

# Second hidden layer
nn_model_2.add(tf.keras.layers.Dense(units=30, activation='tanh'))

# Third hidden layer
nn_model_2.add(tf.keras.layers.Dense(units=10, activation='tanh'))


# Output layer (output is 1 and sigmoid because it's binary classifier)
nn_model_2.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model_2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 20)                880

 dense_9 (Dense)             (None, 30)                630

 dense_10 (Dense)            (None, 10)                310

 dense_11 (Dense)            (None, 1)                 11

=================================================================
Total params: 1,831
Trainable params: 1,831
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Compile the  2nd model
nn_model_2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [38]:
# Train the 2nd model
fit_model_2 = nn_model_2.fit(X_train_scaled, y_train, epochs=50,callbacks=[cp_callback])

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.5772 - accuracy: 0.7130
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5584 - accuracy: 0.7285
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7299
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7318
Epoch 5/50
803/804 [============================>.] - ETA: 0s - loss: 0.5519 - accuracy: 0.7299
Epoch 5: saving model to checkpoints/weights.5.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7299
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7329
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5491 - accuracy: 0.7324
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7324
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7333
Epoch 10/50
784/804 [============================>.] - ETA: 0s - loss: 0.5472 - accuracy: 0.7323
Epoch 10: saving model to checkpoints/weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7325
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7326
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7335
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7321
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5450 - accuracy: 0.7336
Epoch 15/50
801/804 [============================>.] - ETA: 0s - loss: 0.5451 - accuracy: 0.7350
Epoch 15: saving model to checkpoints/weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7350
Epoch 16/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5448 - accuracy: 0.7345
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5442 - accuracy: 0.7340
Epoch 18/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5438 - accuracy: 0.7344
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5437 - accuracy: 0.7329
Epoch 20/50
802/804 [============================>.] - ETA: 0s - loss: 0.5433 - accuracy: 0.7346
Epoch 20: saving model to checkpoints/weights.20.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7345
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7337
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5429 - accuracy: 0.7339
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5425 - accuracy: 0.7345
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7343
Epoch 25/50
791/804 [============================>.] - ETA: 0s - loss: 0.5423 - accuracy: 0.7343
Epoch 25: saving model to checkpoints/weights.25.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7344
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7339
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7352
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7357
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7353
Epoch 30/50
801/804 [============================>.] - ETA: 0s - loss: 0.5414 - accuracy: 0.7350
Epoch 30: saving model to checkpoints/weights.30.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5415 - accuracy: 0.7350
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7364
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7371
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7360
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7350
Epoch 35/50
798/804 [============================>.] - ETA: 0s - loss: 0.5403 - accuracy: 0.7366
Epoch 35: saving model to checkpoints/weights.35.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7367
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7370
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7375
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7365
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7381
Epoch 40/50
791/804 [============================>.] - ETA: 0s - loss: 0.5390 - accuracy: 0.7375
Epoch 40: saving model to checkpoints/weights.40.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7373
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7368
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7364
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5391 - accuracy: 0.7371
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7372
Epoch 45/50
787/804 [============================>.] - ETA: 0s - loss: 0.5391 - accuracy: 0.7375
Epoch 45: saving model to checkpoints/weights.45.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7379
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7382
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7381
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7378
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7381
Epoch 50/50
798/804 [============================>.] - ETA: 0s - loss: 0.5385 - accuracy: 0.7381
Epoch 50: saving model to checkpoints/weights.50.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5388 - accuracy: 0.7377

In [39]:
# Evaluate the 2nd model using the test data
model_loss, model_accuracy = nn_model_2.evaluate(X_test_scaled,y_test,verbose=2)
print(f'Loss: {model_loss}, Accuracy: {model_accuracy}')

268/268 - 1s - loss: 0.5553 - accuracy: 0.7307 - 527ms/epoch - 2ms/step
Loss: 0.5552961826324463, Accuracy: 0.7307288646697998

In [40]:
# Save the 2nd model
nn_model_2.save('../h5_files/AlphabetSoupCharity_model_2.h5')